<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="oracle.apps.sfc.clm.PaymentApproval.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="CLMApprovalStatusLovVO"
      FullName="oracle.apps.sfc.clm.PaymentApproval.server.CLMApprovalStatusLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CLMInvDetailsVO"
      FullName="oracle.apps.sfc.clm.PaymentApproval.server.CLMInvDetailsVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CLMSearchNewVO"
      FullName="oracle.apps.sfc.clm.PaymentApproval.server.CLMSearchNewVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CLMSearchTempVO"
      FullName="oracle.apps.sfc.clm.PaymentApproval.server.CLMSearchTempVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CLMSearchVO"
      FullName="oracle.apps.sfc.clm.PaymentApproval.server.CLMSearchVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="xxsifyPaymentApprovalAM"
      FullName="oracle.apps.sfc.clm.PaymentApproval.server.xxsifyPaymentApprovalAM"
      ObjectType="AppModule" >
   </Containee>
</JboPackage>
